<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transfer | <%title%> </title>
</head>
<body>
    
    <h1>Create Transfer</h1>
    <form action="/createtransfer" method="POST">
        <label for="fromAccountId">From Account ID:</label><br>
        <input type="text" id="fromAccountId" name="fromAccountId" required><br><br>

        <label for="toAccountId">To Account ID:</label><br>
        <input type="text" id="toAccountId" name="toAccountId" required><br><br>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" required><br><br>

        <input type="submit" value="Create Transfer">
    </form>

    <a href="/accounts">
        ← Back To Accounts
    </a>
</body>
</html>